html, body, form, #code-wrap, #result-wrap
{
	width: 100%;
}

html, body, form
{
	height: 100%;
}

#result-wrap
{
	height: 20%;
}

#code-wrap
{
	position: relative;
	height: 80%;
}

#controls
{
	position: absolute;
	top: 0;
	right: 0;
}

#controls button
{
	float: right;
	clear: both;
	display: block;
	margin: 10px;
}