body
{
	background-color: black;
}

html, body, form, #code-wrap, #result-wrap, #code, #result
{
	width: 100%;
	padding: 0;
}

html, body, form, #code, #result
{
	height: 100%;
}

#code-wrap
{
	height: 100%;
}

#code-wrap.with-results
{
	height: 80%;	
}

#vertical-resize-handle
{
	margin: 0;
	border: none;
	height: 5px;
	background-color: black;
}

#vertical-resize-handle:hover
{
	cursor: row-resize;
}

#result-window
{
	height: 20%;
}

#result-wrap
{
	height: 100%;
}

#code-wrap, #result-wrap
{
	position: relative;
}

#controls
{
	position: absolute;
	top: 0;
	right: 0;
}

#controls button
{
	float: right;
	clear: both;
	display: block;
	margin: 10px;
}

label[for="code"], label[for="result"] 
{
	transition: bottom 2s, font-size 2s;
	-o-transition: bottom 2s, font-size 2s;
	-moz-transition: bottom 2s, font-size 2s;
	-webkit-transition: bottom 2s, font-size 2s;
}

@media all and ( min-height: 100px ) and ( max-height: 400px ) {

  	label[for="code"], label[for="result"]
	{
		bottom: 10%;
		font-size: 20px;
	}
}


@media all and ( min-height: 401px ) {

	label[for="code"], label[for="result"]
	{
		bottom: 50%;
		font-size: 40px;
	}
}

label[for="code"], label[for="result"]
{
	position: absolute;
	color: #3D3D3D;

	right: 0;

	z-index: 2;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.error
{
    background-color: rgba( 255, 0, 0, 0.4 )
}

.warning
{
    background-color: rgba( 255, 255, 0, 0.4 )
}

.info
{
    background-color: rgba( 255, 255, 255, 0.4 )
}